#root {
  margin: auto;
  min-width: 70%; 
  background-color: #ff9900;
  justify-content: center;
  display: flex;
}

/* Stile tabella */
table {
  width: 98%; 
  max-width: 750px; 
  margin: 0 auto; 
  border-collapse: collapse; 
  font-family: 'Arial', sans-serif;
  table-layout: fixed; 
}

/* Intestazioni tabella */
table thead {
  background-color: #c9670c;
  color: white;
}

/* Righe tabella */
table tbody tr:nth-child(odd) {
  background-color: rgb(255, 183, 28)bb;;
}

table tbody tr:nth-child(even) {
  background-color: #bb4b4b;
}

/* Stile celle tabella */
table td, table th {
  height: 50px;
  padding: 10px;
  text-align: center;
  border: 1px solid #dee2e6;
}

/* Effetto mouse su una riga */
table tbody tr:hover {
  background-color: #ffffffcb;
}

/* Bordo tabella */
table {
  border: 2px solid #c23434 ;
  border-radius: 10px;
}

/* Stile celle intestazione */
table th {
  font-weight: bold;
  text-transform: uppercase;
}

/* Colore bordo intestazioni */
table th {
  border-bottom: 2px solid #810202;
}

/* Colore bordo righe */
table td {
  border-bottom: 1px solid #c23434;
}

/* Stile logo */
.home-logo {
  width: 120px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Stile home page */
.home-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

/* Header */
.home-header {
  margin-bottom: 30px;
}

.home-header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.home-header p {
  font-size: 1rem;
  color: #ffffff;
}

/* Card */
.home-card {
  background-color: 86c08f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  text-align: center;
}

.home-card h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.home-card p {
  margin-bottom: 10px;
  font-size: 1rem;
}

.home-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

/* Card hover effect */
.home-card:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.home-card a:hover {
  text-decoration: underline;
}

/* Footer */
.home-footer {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #777;
}
