/* Navbar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cf740c;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* Logo in alto a sinistra */
.header-logo {
  width: 120px;
  height: auto;
  cursor: pointer;
}

/* Contenitore logo */
.logo-container {
  display: flex;
  align-items: center;
}

/* Stile navbar */
.nav-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #fff;
}

/* Active link */
.nav-item.active {
  font-weight: bold;
  color: #fff; /* Colore per il link attivo */
}

/* Stile contenuto principale */
.main-content {
  margin-top: 80px;
  padding: 20px;
}

/* Padding */
main {
  padding: 20px;
}

/* Stile pagine */
.home-container, .wp-container, .assenza-container, .docente-container, .studente-container, .progetto-container {
  text-align: center;
}

/* Stile cards e componenti pagine */
.card {
  background-color: #f4f4f4;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Spazio cards */
.card h2 {
  font-size: 1.5rem;
  text-align: center;
}

.card p {
  font-size: 1rem;
  color: #666;
}

/* Stile home */
.home-header {
  margin-bottom: 20px;
}

.home-link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff9900bb;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.home-link:hover {
  background-color: #ff9900;
}
